html {background-color: #535353}
    
body {
width: 100vw;
max-width: 950px;
padding: 0;
margin: 0 auto;
background: #c6c6c6;
height: auto; }

div, pre {
font-family: Courier, Verdana, monospace;
max-width: 650px;
width: 100vw;
background: #ffffff;
padding: 0;
margin: 0 auto;
white-space: pre}

div {white-space: pre;}
.a {tab-size:4}
