<style>
    html {background-color: #535353}
    
    body {
        width: 100vw;
    max-width: 950px;
    padding: 0;
    margin: 0 auto;
    background: #c6c6c6;
    height: auto; }

    div {
        max-width: 590px;
        width: 100vw;
        background: #ffffff;
        margin: 0 auto;
        padding: 0 30px}
    
</style>
